<div class="row">
    {{#each files}}
<!--        NOTAS CARGADAS-->
        <div class="col-md-3">
            <div class="card-header">
                <h3><a href="/files/view/{{_id}}">{{name}}</a></h3>
            </div>
            <div class="card-body">
                <button class="btn btn-warning btn-block btn-sm"><a href="/files/edit/{{_id}}">EDIT</a></button>
                <form action="/files/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">DELETE</button>
                </form>
            </div>
        </div>
<!--        NO TENES NOTAS CARGADAS-->
        {{else}}
        <div class="card mx-auto">
            <div class="card-header">
                <h2>There are not files yet!</h2>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-block"><a href="/files/add">Crea tu primera ficha</a></button>
            </div>
        </div>
    {{/each}}
</div>
